* {
    font-family: "PleaseSong";
}

/* Fondo */

body {
    background: url("../img/notebook_texture.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Parte de arriba */

div#contenedor {
    text-align: center;
}

div.ahorcado, div.ui {
    display: inline-block;
    margin: 2em;
}

div.ui p {
    font-size: 2em;
}

div.ui select#cat {
    font-size: 2em;
    background-color: #f4eb90;
}

#cat > * {
    background-color: #f4eb90;
}

button {
    margin: 1em;
    font-size: 2em;
    background-color: #EBE071;
    -webkit-border-image: url(../img/borde_boton.png) 30 stretch;
    -moz-border-image: url(../img/borde_boton.png) 30 stretch;
    -o-border-image: url(../img/borde_boton.png) 30 stretch;
    border-image: url(../img/borde_boton.png) 30 stretch;
}

button:active {
    background-color: #EDDD3A;
}
/* Teclado */

div.teclado {
    text-align: center;
}

div.teclado div.fila {
    display: block;
    text-align: center;
}

div.teclado div.fila span.active {
    display: inline-block;
    padding: 10px;
    animation: smallBox .15s;
    transition: width 0.15ms height 0.15ms;
    font-size: 4em;
    cursor: default;
}

div.teclado div.fila span.active:hover {
    animation: bigBox .15s;
    transform: scale(1.25);
}

div.teclado div.fila span.active:active {
    animation: bigBox .15s;
    transform: scale(1.50);
}

div.teclado div.fila span.disabled {
    display: inline-block;
    padding: 10px;
    color: gray;
    transform: scale(0.75);
    font-size: 4em;
    cursor: default;
}

/* Animaciones */
@keyframes smallBox {
    from {
        transform: scale(1.25);
    } 
    to {
        transform: scale(1);
    }
}

@keyframes bigBox {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.25);
    }
}

/* Fuentes */
@font-face {
    font-family: "TrashHand";
    src: url("../font/TrashHand.TTF");
}

@font-face {
    font-family: "PleaseSong";
    src: url("../font/please_write_me_a_song.ttf")
}